body{

background-color:#d7eef2;
margin: auto;
align-content:center; 
}

.conteiner{

           text-align: center;

           margin: auto;

           background-color:#b9e4e2;
}
div{
	width: 1200px;
}
h1{

     font-size: 100px;

     color: #605c5c;
}
h2{font-size: 50px;}
p{
width: 80%;
  font-size: 20px;
  margin: auto;
}

.tabil-box{
width: 80%;
margin: auto;
padding: 50px;

}

 h3{
 	font-size: 35px;
 }
 table{
 	width: 100%
 }
tr{

}
th{
	padding: 15px;
	font-size: 25px;
	background-color:#04ffff;
}
tr{
	background-color: #effafa;
	font-size: 20px;
}
h4{
	font-size: 30px;

}

